<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Генерирование 100.000 книг</title>
        
    </head>
    <body>
        Наполнить базу до ~100.000 книг?
        <a href="?ok=1">да</a>
    </body>
</html>
