<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Книги и авторы</title>
        
    </head>
    <body>
       
        <a href="{{ path('generate') }}">генерирование книг</a><br/>
        <a href="{{ path('admin') }}">админка</a><br/>

    </body>
</html>
